body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

button {
    margin-bottom: 20px;
    font-size: 16px;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

#grid {
    width: 400px;
    height: 400px;
    display: grid;
    border: 1px solid #000;
}

.cell {
    border: 1px solid #eee;
}